/*----------------
IMPORT BOOTSTRAP
----------------*/
@import '/node_modules/bootstrap/scss/bootstrap';
/*==========================
   my variables
===========================*/
:root {
   //colors
   --primary-color: rgb(219, 0, 0);
   --primary-color-600: rgb(131, 16, 16);
   --neutral-color-100: white;
   --neutral-color-600: rgb(86, 77, 77);
   --neutral-color-900: black;
}

/*==========================
    commons
===========================*/
.list {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   list-style: none;
   li {
      width: calc(100% / 2);
      padding: 10px;
      @media (width > 576px) {
         width: calc(100% / 3);
      }
      @media (width > 992px) {
         width: calc(100% / 4);
      }
      @media (width > 1200px) {
         width: calc(100% / 5);
      }
   }
}
